Repository openshift/kubernetes, pull requests merged in 2022-12, with the labels that each got.

#1393 UPSTREAM: <carry>: make the PSA workload admission warnings honor the…
  go.mod
  go.sum
  openshift-kube-apiserver/enablement/intialization.go
  openshift-kube-apiserver/openshiftkubeapiserver/patch.go
  plugin/pkg/admission/security/podsecurity/admission.go
  plugin/pkg/admission/security/podsecurity/patch_podspecextractor.go
  vendor/github.com/openshift/apiserver-library-go/pkg/securitycontextconstraints/sccadmission/admission.go
  vendor/github.com/openshift/apiserver-library-go/pkg/securitycontextconstraints/sccadmission/scc_exec.go
  vendor/github.com/openshift/apiserver-library-go/pkg/securitycontextconstraints/sccmatching/matcher.go
  vendor/modules.txt
Labels: approved, lgtm, vendor-update

#1429 Bug OCPBUGS-4387: kube-proxy: fix duplicate port opening
  pkg/proxy/iptables/proxier.go
  pkg/proxy/iptables/proxier_test.go
Labels: bugzilla/valid-bug, backports/unvalidated-commits, jira/severity-low, jira/valid-bug

#1431 OCPBUGS-4657: Bump library-go.
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/pod-security-admission/go.mod
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-apiserver/go.sum
  vendor/github.com/openshift/library-go/pkg/crypto/OWNERS
  vendor/github.com/openshift/library-go/pkg/crypto/crypto.go
  vendor/modules.txt
Labels: approved, lgtm, vendor-update, bugzilla/valid-bug, backports/validated-commits, jira/valid-bug

#1440 OCPBUGS-4658: Apply shared defaulters to CRD-based routes.
  openshift-kube-apiserver/admission/customresourcevalidation/customresourcevalidationregistration/cr_validation_registration.go
  openshift-kube-apiserver/admission/customresourcevalidation/route/default_route.go
  openshift-kube-apiserver/admission/customresourcevalidation/route/defaulters.go
  openshift-kube-apiserver/admission/customresourcevalidation/route/defaulters_test.go
  openshift-kube-apiserver/admission/customresourcevalidation/route/doc.go
  openshift-kube-apiserver/admission/customresourcevalidation/route/zz_generated.defaults.go
  vendor/github.com/openshift/library-go/pkg/route/defaulting/defaults.go
  vendor/modules.txt
Labels: approved, lgtm, vendor-update, bugzilla/valid-bug, backports/validated-commits, jira/valid-bug

#1441 [release-4.12] OCPBUGS-4808: Apply shared defaulters to CRD-based routes.
  openshift-kube-apiserver/admission/customresourcevalidation/customresourcevalidationregistration/cr_validation_registration.go
  openshift-kube-apiserver/admission/customresourcevalidation/route/default_route.go
  openshift-kube-apiserver/admission/customresourcevalidation/route/defaulters.go
  openshift-kube-apiserver/admission/customresourcevalidation/route/defaulters_test.go
  openshift-kube-apiserver/admission/customresourcevalidation/route/doc.go
  openshift-kube-apiserver/admission/customresourcevalidation/route/zz_generated.defaults.go
  vendor/github.com/openshift/library-go/pkg/route/defaulting/defaults.go
  vendor/modules.txt
Labels: approved, lgtm, vendor-update, bugzilla/valid-bug, cherry-pick-approved, backports/validated-commits, backport-risk-assessed, jira/valid-bug
