Repository openshift/kubernetes, pull requests merged in 2023-06, with the labels that each got.

#1594 OCPBUGS-4053: UPSTREAM: 118383: bump cadvisor for upstream patch 3301
  go.mod
  go.sum
  staging/src/k8s.io/api/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-helpers/go.mod
  staging/src/k8s.io/kms/go.mod
  staging/src/k8s.io/kube-aggregator/go.mod
  vendor/github.com/google/cadvisor/container/crio/handler.go
  vendor/modules.txt
Labels: kind/bug, approved, lgtm, vendor-update, backports/validated-commits, jira/severity-important, jira/valid-bug, jira/valid-reference

#1595 STOR-1263: Add csimock tests
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-hack/e2e/annotate/rules.go
  openshift-hack/e2e/include.go
Labels: approved, lgtm, backports/validated-commits, jira/valid-bug, jira/valid-reference

#1591 Sdn 4.14 kubernetes 1.27.1 upstream carries
  cmd/kube-proxy/app/server_openshift.go
  pkg/proxy/iptables/proxier.go
  pkg/proxy/iptables/proxier_openshift.go
  pkg/proxy/iptables/proxier_test.go
Labels: backports/unvalidated-commits

#1600 OCPBUGS-14745: [release-4.12] UPSTREAM: 118383: bump cadvisor for upstream patch 3301
  go.mod
  go.sum
  staging/src/k8s.io/api/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/legacy-cloud-providers/go.mod
  vendor/github.com/google/cadvisor/container/crio/handler.go
  vendor/modules.txt
Labels: kind/bug, approved, lgtm, vendor-update, cherry-pick-approved, backports/validated-commits, backport-risk-assessed, jira/severity-important, jira/valid-bug, jira/valid-reference

#1605 OCPBUGS-7181: UPSTREAM: <drop>: bump apiserver-library-go
  go.mod
  go.sum
  vendor/github.com/openshift/apiserver-library-go/pkg/securitycontextconstraints/sccadmission/admission.go
  vendor/github.com/openshift/apiserver-library-go/pkg/securitycontextconstraints/sccmatching/matcher.go
  vendor/github.com/openshift/apiserver-library-go/pkg/securitycontextconstraints/sccmatching/provider.go
  vendor/modules.txt
Labels: approved, lgtm, vendor-update, backports/validated-commits, jira/valid-bug

#1550 UPSTREAM: <carry>: STOR-1270: Admission plugin to deny deletion of storages.operator.openshift.io
  openshift-kube-apiserver/admission/customresourcevalidation/customresourcevalidationregistration/cr_validation_registration.go
  openshift-kube-apiserver/admission/customresourcevalidation/operator/deny_delete_cluster_operator_resource.go
  openshift-kube-apiserver/admission/customresourcevalidation/operator/deny_delete_cluster_operator_resource_test.go
Labels: approved, lgtm, backports/validated-commits, jira/valid-bug, jira/valid-reference

#1611 [4.13] OCPBUGS-8738: bump apiserver-lib-go
  go.mod
  go.sum
  vendor/github.com/openshift/apiserver-library-go/pkg/securitycontextconstraints/sccadmission/admission.go
  vendor/github.com/openshift/apiserver-library-go/pkg/securitycontextconstraints/sccmatching/matcher.go
  vendor/github.com/openshift/apiserver-library-go/pkg/securitycontextconstraints/sccmatching/provider.go
  vendor/modules.txt
Labels: approved, lgtm, vendor-update, cherry-pick-approved, backports/validated-commits, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#1609 Update to Kubernetes 1.27.3
  .go-version
  CHANGELOG/CHANGELOG-1.27.md
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  cmd/kube-apiserver/app/aggregator.go
  cmd/kube-apiserver/app/server.go
  cmd/kube-apiserver/app/testing/testserver.go
  cmd/kube-proxy/app/server.go
  cmd/kube-proxy/app/server_others.go
  cmd/kubeadm/app/constants/constants.go
  cmd/kubeadm/app/phases/etcd/local.go
  cmd/kubeadm/app/util/etcd/etcd.go
  cmd/kubeadm/app/util/etcd/etcd_test.go
  cmd/kubeadm/app/util/staticpod/utils.go
  cmd/kubeadm/app/util/staticpod/utils_test.go
  openshift-hack/images/hyperkube/Dockerfile.rhel
  pkg/kubelet/preemption/preemption.go
  pkg/proxy/node.go
  pkg/proxy/node_test.go
  plugin/pkg/admission/imagepolicy/admission.go
  plugin/pkg/admission/imagepolicy/admission_test.go
  plugin/pkg/admission/serviceaccount/admission.go
  plugin/pkg/admission/serviceaccount/admission_test.go
  staging/publishing/rules.yaml
  staging/src/k8s.io/apiserver/pkg/util/webhook/webhook_test.go
  test/e2e/framework/get.go
  test/e2e/storage/csi_mock/csi_storage_capacity.go
  test/e2e_node/critical_pod_test.go
  test/images/Makefile
  test/integration/examples/apiserver_test.go
Labels: approved, lgtm, vendor-update, backports/validated-commits

#1616 UPSTREAM: <carry>: when only this kube-apiserver can fulfill the kube…
  openshift-kube-apiserver/openshiftkubeapiserver/patch.go
  openshift-kube-apiserver/openshiftkubeapiserver/sdn_readyz_wait.go
Labels: approved, lgtm, backports/validated-commits
