Repository openshift/kubernetes, pull requests merged in 2024-09, with the labels that each got.

#2021 OCPBUGS-36773: UPSTREAM: <carry>: Disable vSphere tests with pre-provisioned volumes
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-hack/e2e/annotate/rules.go
Labels: approved, lgtm, cherry-pick-approved, backports/validated-commits, backport-risk-assessed, jira/severity-moderate, jira/valid-bug, jira/valid-reference

#2062 OCPBUGS-39014: Bump 1.30.4
  CHANGELOG/CHANGELOG-1.30.md
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/apis__admissionregistration.k8s.io__v1_openapi.json
  api/openapi-spec/v3/apis__admissionregistration.k8s.io__v1alpha1_openapi.json
  api/openapi-spec/v3/apis__admissionregistration.k8s.io__v1beta1_openapi.json
  cmd/kubeadm/app/apis/kubeadm/fuzzer/fuzzer.go
  cmd/kubeadm/app/apis/kubeadm/v1beta3/conversion.go
  cmd/kubeadm/app/apis/kubeadm/v1beta4/conversion.go
  cmd/kubeadm/app/apis/kubeadm/validation/validation.go
  cmd/kubeadm/app/apis/kubeadm/validation/validation_test.go
  cmd/kubeadm/app/cmd/phases/join/kubelet.go
  cmd/kubeadm/app/phases/kubelet/config.go
  cmd/kubeadm/app/phases/kubelet/config_test.go
  cmd/kubeadm/app/util/apiclient/wait.go
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-hack/images/hyperkube/Dockerfile.rhel
  pkg/controller/statefulset/stateful_pod_control.go
  pkg/controller/statefulset/stateful_pod_control_test.go
  pkg/controller/statefulset/stateful_set.go
  pkg/controller/statefulset/stateful_set_utils.go
  pkg/controller/statefulset/stateful_set_utils_test.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/kubelet/kuberuntime/kuberuntime_termination_order.go
  pkg/kubelet/winstats/perfcounter_nodestats.go
  pkg/kubelet/winstats/perfcounter_nodestats_test.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/controller_policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/controller-roles.yaml
  staging/src/k8s.io/api/admissionregistration/v1/types.go
  staging/src/k8s.io/api/admissionregistration/v1alpha1/types.go
  staging/src/k8s.io/api/admissionregistration/v1beta1/types.go
  staging/src/k8s.io/api/batch/v1/types.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/compilation.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/model/adaptor.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/model/schemas_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/validation.go
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/httpstream.go
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/httpstream_test.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/client-go/tools/portforward/fallback_dialer_test.go
  staging/src/k8s.io/client-go/tools/remotecommand/fallback_test.go
  staging/src/k8s.io/client-go/tools/remotecommand/websocket_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/attach/attach.go
  staging/src/k8s.io/kubectl/pkg/cmd/exec/exec.go
  staging/src/k8s.io/kubectl/pkg/cmd/portforward/portforward.go
  staging/src/k8s.io/mount-utils/mount_helper_unix.go
  test/e2e/apps/statefulset.go
  test/e2e_node/container_lifecycle_test.go
  test/instrumentation/documentation/documentation-list.yaml
  test/instrumentation/documentation/documentation.md
  test/instrumentation/main.go
  test/integration/apimachinery/watch_namespace_test.go
  test/integration/apiserver/crd_validation_expressions_test.go
Labels: approved, lgtm, vendor-update, cherry-pick-approved, backports/validated-commits, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#2066 OCPBUGS-39015: Bump k8s api to 1.29.8
  CHANGELOG/CHANGELOG-1.29.md
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/apis__admissionregistration.k8s.io__v1alpha1_openapi.json
  api/openapi-spec/v3/apis__admissionregistration.k8s.io__v1beta1_openapi.json
  cluster/gce/util.sh
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-hack/images/hyperkube/Dockerfile.rhel
  pkg/controller/statefulset/stateful_pod_control.go
  pkg/controller/statefulset/stateful_pod_control_test.go
  pkg/controller/statefulset/stateful_set.go
  pkg/controller/statefulset/stateful_set_utils.go
  pkg/controller/statefulset/stateful_set_utils_test.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kuberuntime/kuberuntime_termination_order.go
  pkg/kubelet/winstats/perfcounter_nodestats.go
  pkg/kubelet/winstats/perfcounter_nodestats_test.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/controller_policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/controller-roles.yaml
  staging/src/k8s.io/api/admissionregistration/v1alpha1/types.go
  staging/src/k8s.io/api/admissionregistration/v1beta1/types.go
  staging/src/k8s.io/api/batch/v1/types.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/compilation.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/model/adaptor.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/model/schemas_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/validation.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
  staging/src/k8s.io/mount-utils/mount_helper_unix.go
  test/e2e/apps/statefulset.go
  test/e2e/testing-manifests/scheduling/nvidia-driver-installer.yaml
  test/e2e_node/container_lifecycle_test.go
  test/e2e_node/pod_ips.go
  test/integration/apimachinery/watch_namespace_test.go
  test/integration/apiserver/crd_validation_expressions_test.go
Labels: approved, lgtm, vendor-update, cherry-pick-approved, backports/validated-commits, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#2077 NO-JIRA: UPSTREAM: annotate audit events for requests during unready phase and graceful termination phase
  staging/src/k8s.io/apiserver/pkg/server/patch_genericapiserver.go
Labels: approved, lgtm, vendor-update, backports/validated-commits, jira/valid-reference

#2063 OCPBUGS-39016: Update to Kubernetes v1.28.13
  CHANGELOG/CHANGELOG-1.28.md
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/apis__admissionregistration.k8s.io__v1alpha1_openapi.json
  api/openapi-spec/v3/apis__admissionregistration.k8s.io__v1beta1_openapi.json
  cluster/gce/util.sh
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-hack/images/hyperkube/Dockerfile.rhel
  pkg/controller/statefulset/stateful_pod_control.go
  pkg/controller/statefulset/stateful_pod_control_test.go
  pkg/controller/statefulset/stateful_set.go
  pkg/controller/statefulset/stateful_set_utils.go
  pkg/controller/statefulset/stateful_set_utils_test.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/winstats/perfcounter_nodestats.go
  pkg/kubelet/winstats/perfcounter_nodestats_test.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/controller_policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/controller-roles.yaml
  staging/src/k8s.io/api/admissionregistration/v1alpha1/types.go
  staging/src/k8s.io/api/admissionregistration/v1beta1/types.go
  staging/src/k8s.io/api/batch/v1/types.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/compilation.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/model/adaptor.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/model/schemas_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/validation.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/validatingadmissionpolicy/controller_reconcile.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
  staging/src/k8s.io/mount-utils/mount_helper_unix.go
  test/e2e/apps/statefulset.go
  test/e2e/testing-manifests/scheduling/nvidia-driver-installer.yaml
  test/e2e_node/pod_ips.go
  test/integration/apimachinery/watch_namespace_test.go
  test/integration/apiserver/cel/validatingadmissionpolicy_test.go
  test/integration/apiserver/crd_validation_expressions_test.go
Labels: approved, lgtm, vendor-update, cherry-pick-approved, backports/validated-commits, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#2064 OCPBUGS-36295: UPSTREAM: 126295: dynamiccertificates: denoise Kubelet logs by skipping removal of non-existent file watchers
  staging/src/k8s.io/apiserver/pkg/server/dynamiccertificates/dynamic_cafile_content.go
Labels: approved, lgtm, kind/cleanup, vendor-update, backports/validated-commits, jira/severity-moderate, jira/valid-bug, jira/valid-reference

#2080 OCPBUGS-39004: UPSTREAM: 127243: Fix invalid label use in validatingadmissionpolicy e2e
  test/e2e/apimachinery/validatingadmissionpolicy.go
Labels: approved, lgtm, backports/validated-commits, jira/severity-low, jira/valid-bug, jira/valid-reference

#2079 NO-JIRA: UPSTREAM: <carry>: retrying etcd Unavailable errors for the etcd health and ready checkers
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/etcd3retry/retry_etcdclient.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/etcd3retry/retry_etcdclient_test.go
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/etcd3.go
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/factory.go
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/retry_etcdprobemonitor.go
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/retry_etcdprobemonitor_test.go
Labels: approved, lgtm, vendor-update, backports/validated-commits, jira/valid-reference

#2087 [release-4.17] OCPBUGS-42019: UPSTREAM: <drop>: bump(github.com/openshift/apiserver-library-go)
  go.mod
  go.sum
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  vendor/github.com/openshift/apiserver-library-go/pkg/securitycontextconstraints/sysctl/mustmatchpatterns.go
  vendor/modules.txt
Labels: approved, lgtm, vendor-update, cherry-pick-approved, staff-eng-approved, backports/validated-commits, backport-risk-assessed, jira/severity-important, jira/valid-bug, jira/valid-reference

#2095 OCPBUGS-42120: UPSTREAM: 125398: Fix issue with scheduler failing on hostname mismatch
  pkg/scheduler/framework/plugins/volumebinding/binder.go
  pkg/scheduler/framework/plugins/volumebinding/binder_test.go
  pkg/scheduler/framework/plugins/volumebinding/fake_binder.go
  pkg/scheduler/framework/plugins/volumebinding/volume_binding.go
  pkg/scheduler/framework/plugins/volumebinding/volume_binding_test.go
  pkg/scheduler/schedule_one_test.go
  pkg/volume/util/util.go
  pkg/volume/util/util_test.go
Labels: approved, lgtm, backports/validated-commits, jira/severity-important, jira/valid-bug, jira/valid-reference

#2096 release-4.16] OCPBUGS-42057: UPSTREAM: <drop>: bump(github.com/openshift/apiserver-library-go)
  go.mod
  go.sum
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  vendor/github.com/openshift/apiserver-library-go/pkg/securitycontextconstraints/sysctl/mustmatchpatterns.go
  vendor/modules.txt
Labels: approved, lgtm, vendor-update, cherry-pick-approved, backports/validated-commits, backport-risk-assessed, jira/severity-important, jira/valid-bug, jira/valid-reference

#2089 OCPBUGS-42167: Bump k8s api to 1.30.5
  .go-version
  CHANGELOG/CHANGELOG-1.30.md
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/api__v1_openapi.json
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  cluster/addons/dns/coredns/coredns.yaml.base
  cluster/addons/dns/coredns/coredns.yaml.in
  cluster/addons/dns/coredns/coredns.yaml.sed
  cluster/gce/manifests/etcd.manifest
  cluster/gce/upgrade-aliases.sh
  cluster/images/etcd/Makefile
  cluster/images/etcd/migrate/options.go
  cmd/kubeadm/app/constants/constants.go
  cmd/kubeadm/app/images/images_test.go
  cmd/kubeadm/app/phases/addons/dns/dns_test.go
  go.mod
  go.sum
  go.work.sum
  hack/lib/etcd.sh
  openshift-hack/images/hyperkube/Dockerfile.rhel
  pkg/controller/endpointslice/endpointslice_controller.go
  pkg/controller/endpointslice/endpointslice_controller_test.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kuberuntime/kuberuntime_container.go
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pkg/kubelet/kuberuntime/kuberuntime_manager_test.go
  pkg/kubelet/types/pod_update.go
  pkg/proxy/config/config.go
  pkg/scheduler/framework/preemption/preemption.go
  staging/publishing/rules.yaml
  staging/src/k8s.io/api/core/v1/generated.proto
  staging/src/k8s.io/api/core/v1/types.go
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/client-go/applyconfigurations/internal/internal.go
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/code-generator/go.sum
  staging/src/k8s.io/code-generator/tools.go
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/sample-apiserver/artifacts/example/deployment.yaml
  test/e2e_node/device_plugin_test.go
  test/images/Makefile
  test/utils/image/manifest.go
  vendor/github.com/coredns/corefile-migration/migration/versions.go
  vendor/modules.txt
Labels: approved, lgtm, vendor-update, cherry-pick-approved, staff-eng-approved, backports/validated-commits, backport-risk-assessed, jira/valid-bug, jira/valid-reference
